@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


/* ========================
       Common Variables
   ======================== */
$primary-color: #ff7314;
$primary-background: #363232;
$white-color: #ffffff;
$primary-text-color: #393535;
$primary-paragraph-color: #505050;
$primary-header-color: #393535;
$footer-copyright-color: #777777;
$nav-bg: #383434;

$font-ralway: 'Raleway', sans-serif;

/* ===================
       Topbar
   =================== */
.ri-topbar-area {
  height: 45px;
  background-image: url("../images/orange_bg.png"),
  url("../images/nav_bg.png");

  background-position: top left, /* this positions the first image */
  top right; /* this positions the second image */
  background-repeat: no-repeat; /* this applies to both images */

  background-size: 35%, 100%;
  background-color: $nav-bg;
}

.ri-topbar {
  display: flex;
  height: 45px;
  width: 350px;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: $white-color;
    font-size: 0.8rem;
  }
}

a.request-quote-btn {
  transition: all 0.3s ease-in-out;
  border: 1px solid $primary-color;
  padding: 0.3rem 0.8rem;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    background: $white-color;
    color: $primary-color;
  }

}

/* ===================
       Navigation
   =================== */
.ri-navigation-area{
}
.ri-navigation {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.ri-nav {
  display: flex;

  nav {
    ul {
      margin: 0;
      padding: 0;
      display: block;
    }

    li {
      list-style: none;
      float: left;
      position: relative;
    }

    a {
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      padding: 1rem;
      color: $primary-header-color;
      &:hover{
        transition: all 0.3s ease-in-out;
      }
      &:hover:after{
        transition: all 0.3s ease-in-out;
          content: "";
          position: absolute;
          top: 40px;
          left: 50%; /* centers the element's left edge */
          transform: translateX(-50%);
          //margin-left: -20px; /* <-- moves it back half it's own width */
          width: 0; /* <-- don't need unit on 0 */
          height: 0; /* <-- don't need unit on 0 */
          xxmargin: 0px auto; /* <-- eliminate, use above margin */
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-bottom: 25px solid $primary-color; /* <-- change to bottom for up arrow */

      }
    }
  }

}

.ri-top-social {
  width: 120px;
  display: inline-flex;
  justify-content: space-between;

  a {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    text-align: center;
    background: $primary-color;
    color: $white-color;

    &:hover {
      background: $white-color;
      color: $primary-color;
    }

    i.fa {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }

  }

}


//Logo



.ri-logo {
  a {
    img {
      margin-top: -60px;
      height: 70px;
      width: auto;
    }
  }
}


/* ==========================
       Main Slider/ Banner
   ========================== */
.ri-banner-area{
  position: relative;
  overflow: hidden;
}
.ri-main-banner {
  width: 100%;
  height: 100%;
}


.ri-banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 100%;
  height: 100%;
}

/* ===================
       Welcome Area
   =================== */

.ri-welcome-area {
  padding: 4rem 0;
  overflow: hidden;
}

a.ri-btn-solid {
  transition: all 0.3s ease-in-out;
  border: 1px solid $primary-color;
  padding: 0.5rem;
  border-radius: 40px;
  width: 140px;
  display: inline-block;
  text-align: center;
  color: $white-color;
  text-decoration: none;
  background-color: $primary-color;

  &:hover {
    background: $white-color;
    color: $primary-color;
  }

}

a.ri-btn-outline {
  transition: all 0.3s ease-in-out;
  border: 1px solid $primary-color;
  padding: 0.5rem;
  border-radius: 40px;
  width: 140px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background: $white-color;
  color: $primary-color;

  &:hover {
    color: $white-color;
    background-color: $primary-color;
  }

}


/* ===================
       ri-overview
   =================== */
.ri-overview-area {
  background-image: url("../images/overview_bg.png");
  background-repeat: repeat-x;
  background-size: cover;
  width: 100%;
  background-position: center;
  min-height: 200px;
  overflow: hidden;
}

.ri-statistics-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 200px;
}


.ri-statistics {
  display: inline-flex;
}

.ri-statistics-text {
  color: $white-color;
  text-align: center;

  h3 {
    font-size: 2rem;
    line-height: 1;
    margin-top: -5px;
  }

  p {
    font-size: 0.8rem;
  }
}

.ri-statistics-icon {
  img {
    width: 50px;
    height: auto;
  }
}


/* ===================
       What We Do
   =================== */
.ri-what-we {
  margin: 4rem 0;
}


/* ===================
       Why Choose Us
   =================== */
.why-choose-us {
  background-image: url("../images/overview_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x;
  width: 100%;
  overflow: hidden;
}

.ri-promo-content {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  h2 {
    color: $white-color;
    font-family: $font-ralway;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  p {
    color: $white-color;
    font-size: 0.9rem;
  }
}

.qpg-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.professional {
  background-image: url("../images/professional_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
  min-height: 250px;
}

.quality, .guarantee {
  background-image: url("../images/quality.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  height: 100%;
  min-height: 250px;
}

.quality, .professional, .guarantee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;

  img {
    width: auto;
    height: 45px;
    object-fit: cover;
  }

  p {
    color: $white-color;
    text-transform: capitalize;
    margin-top: 0.6rem;
    font-size: 0.8rem;
  }
}


/* ===================
       Roof Types
   =================== */


/* ===================
       Testimonial
   =================== */
.ri-testimonial {
  background-image: url("../images/footer_bg.png");
  background-size: cover;
  background-position: center;
  padding: 4rem 0;
  color: $white-color;
  overflow: hidden;
}

.testimonial-box {
  position: relative;
  background-image: url("../images/testimonial_bg.png");
  background-size: cover;
  padding: 1.5rem;
  background-position: center;
}

p.testimonial-text {
  font-size: 0.9rem;
}

.quote-icon {
  position: absolute;
  left: auto;
  right: -10px;
  bottom: -10px;
  width: 50px;
  height: 50px;
  background: $primary-color;
  border-radius: 50%;
  text-align: center;

  img {
    width: 30px;
    height: auto;
    object-fit: contain;
    margin-top: 12px;
    padding: 0.3rem;
  }
}


.instagram-block-area {
  padding: 5rem 0;
  cursor: grab;
}

.instagram-badge {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  cursor: pointer;

  img {
    width: 120px;
    height: auto;
  }
}


/* ===================
       Bottom CTA
   =================== */
.bottom-cta-area {
  background: $primary-color;
  padding: 1rem 0;
  color: $white-color;
  overflow: hidden;
}

.bottom-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span:first-of-type {
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.5rem;
    font-family: $font-ralway;
    font-weight: bold;
  }

  span {
    a {
      transition: all 0.3s ease-in-out;
      border: 1px solid $white-color;
      padding: 0.5rem;
      border-radius: 40px;
      width: 140px;
      display: inline-block;
      text-align: center;
      color: #ffffff;
      text-decoration: none;

      &:hover {
        background: $white-color;
        color: $primary-color;
      }
    }

  }
}


/* ===================
        Main Footer
   =================== */
.main-footer-area {
  background-image: url("../images/footer_bg.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: block;
  font-size: 0.9rem;
  overflow: hidden;
}

.main-footer {
  border-bottom: 1px solid #505050;
  padding: 4rem 0;
}


table.ri-address {
  font-size: 0.9rem;

  .address {
    margin-bottom: 2rem;
  }

  tr {
    color: $white-color;
    display: flex;
    text-align: left;

    strong {
      width: 80px;
      display: inline-block;
      margin-right: 2rem;
    }
  }

  .address {
    + span {
      strong {
        display: inline-block;
        margin-right: 2rem;
      }
    }
  }
}

table.ri-schedule {
  font-size: 0.9rem;

  tr {
    color: $white-color;
    display: flex;
    text-align: left;

    strong {
      width: 80px;
      display: inline-block;
      margin-right: 2rem;
    }
  }

  .address {
    + span {
      strong {
        display: inline-block;
        margin-right: 2rem;
      }
    }
  }
}

.footer-social {
  margin-top: 2rem;
  width: 120px;
  display: inline-flex;
  justify-content: space-between;

  a {
    transition: all 0.3s ease-in-out;
    display: inline-block;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border: 1px solid $primary-color;
    border-radius: 50%;
    text-align: center;

    &:hover {
      background: $primary-color;
    }

    i.fa {
      color: $white-color;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }

  }

}

.ri-footer-copyright {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 100%;
  min-height: 60px;
  align-items: center;
  color: $footer-copyright-color;
}
