
/* ========================
       Common Variables
   ======================== */
$primary-color:#ff7314;
$primary-background:#363232;
$white-color:#ffffff;
$primary-text-color:#393535;
$primary-paragraph-color:#505050;
$primary-header-color:#393535;

/* ===================
        Main Footer
   =================== */
.main-footer-area{
  background-image: url("../../img/footer_bg.png");
  background-color: #1d2124;
  background-size: cover;
  background-position: center;
  min-height:300px;
  width: 100%;
  display: block;
  padding: 3em 0;
  font-size: 0.9rem;
}



table.ri-address {
  font-size: 0.9rem;
  tr{
    color: $white-color;
    display: flex;
    text-align: left;
    strong{
      width: 80px;
      display: inline-block;
      margin-right: 2rem;
    }
  }

  .address{
    + span {
      strong {
      display: inline-block;
      margin-right: 2rem;
    }
    }
  }
}

table.ri-schedule {
  font-size: 0.9rem;
  tr{
    color: $white-color;
    display: flex;
    text-align: left;
    strong{
      width: 80px;
      display: inline-block;
      margin-right: 2rem;
    }
  }

  .address{
    + span {
      strong {
      display: inline-block;
      margin-right: 2rem;
    }
    }
  }
}
